/* button {
  box-decoration-break: clone;
  height: 20px;

  align-self: start;
}
.todo-container {
  display: flex;
  justify-content: space-around;
}
button {
  background-color: rgba(33, 151, 63, 0.575);
  cursor: pointer;
} */
